<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de Ventas de Videojuegos</title>
    <style>
        /* Estilos CSS aquí */
    </style>
    <script>
        function predecirVentas(event) {
            event.preventDefault();
            const inputFields = ['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Genre', 'Platform'];

            const data = {};
            inputFields.forEach(field => {
                data[field] = document.getElementById(field).value.trim();
            });

            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('resultado').innerText = 'Error: ' + data.error;
                } else {
                    document.getElementById('resultado').innerText = 'Predicción de Ventas Globales: ' + data.prediccion.toFixed(2);
                }
            })
            .catch(error => {
                document.getElementById('resultado').innerText = 'Error en la solicitud.';
                console.error('Error:', error);
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Predicción de Ventas de Videojuegos</h1>
        <form id="formulario" onsubmit="predecirVentas(event)">
            <div>
                <label for="NA_Sales">Ventas en América del Norte:</label>
                <input type="text" id="NA_Sales" name="NA_Sales" required>
            </div>
            <div>
                <label for="EU_Sales">Ventas en Europa:</label>
                <input type="text" id="EU_Sales" name="EU_Sales" required>
            </div>
            <div>
                <label for="JP_Sales">Ventas en Japón:</label>
                <input type="text" id="JP_Sales" name="JP_Sales" required>
            </div>
            <div>
                <label for="Other_Sales">Otras Ventas:</label>
                <input type="text" id="Other_Sales" name="Other_Sales" required>
            </div>
            <div>
                <label for="Genre">Género:</label>
                <input type="text" id="Genre" name="Genre" required>
            </div>
            <div>
                <label for="Platform">Plataforma:</label>
                <input type="text" id="Platform" name="Platform" required>
            </div>
            <input type="submit" value="Predecir Ventas">
        </form>
        <p id="resultado"></p>
    </div>
</body>
</html>
